<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <title>JobsCalc - Meu perfil</title>

    <%- include('components/styles'); %> <%- include('components/fonts'); %>

    <link rel="stylesheet" href="/styles/pages/profile.css" />
  </head>
  <body id="page-profile">
    <%- include('components/page-header', { title: 'Ver meu perfil' }); %>

    <div class="container">
      <aside class="card">
        <img src="<%= profile.avatar %>" alt="<%= profile.name %>" />
        <h2><%= profile.name %></h2>

        <p>
          O valor da sua hora é
          <strong>
            <%= Math.floor(Number(profile.valuePerHour)).toFixed(2) %>
          </strong>
        </p>

        <button class="button green" form="form-profile" type="submit">
          Salvar dados
        </button>
      </aside>

      <main>
        <form id="form-profile" action="/profile" method="POST">
          <fieldset>
            <legend>Dados do perfil</legend>
            <div class="separator light"></div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="name">Nome</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  value="<%= profile.name %>"
                />
              </div>

              <div class="input-wrapper">
                <label for="avatar">Link da foto</label>
                <input
                  placeholder="https://"
                  type="url"
                  id="avatar"
                  name="avatar"
                  value="<%= profile.avatar %>"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Planejamento</legend>
            <div class="separator light"></div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="monthly-budget">
                  Quanto eu <br />
                  quero ganhar por mês?
                </label>
                <input
                  type="amount"
                  step="0.1"
                  id="monthly-budget"
                  name="monthlyBudget"
                  placeholder="R$"
                  value="<%= profile.monthlyBudget %>"
                />
              </div>

              <div class="input-wrapper">
                <label for="hours-per-day"
                  >Quantas horas <br />
                  quero trabalhar por dia?</label
                >
                <input
                  type="number"
                  id="hours-per-day"
                  name="hoursPerDay"
                  value="<%= profile.hoursPerDay %>"
                />
              </div>
            </div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="days-per-week">
                  Quantos dias <br />
                  quero trabalhar por semana?
                </label>
                <input
                  type="number"
                  id="days-per-week"
                  name="daysPerWeek"
                  value="<%= profile.daysPerWeek %>"
                />
              </div>

              <div class="input-wrapper">
                <label for="vacation-per-year">
                  Quantas semanas <br />
                  por ano você quer tirar férias?
                </label>
                <input
                  type="number"
                  id="vacation-per-year"
                  name="vocationPerYear"
                  value="<%= profile.vocationPerYear %>"
                />
              </div>
            </div>
          </fieldset>
        </form>
      </main>
    </div>
  </body>
</html>
